node_modules/
dist/
build/
.DS_Store
*.log
/coverage/
.idea/
.vscode/

/test-report.xml
/public/version.txt


# For cypress-image-diff-js -plugin
/cypress-visual-report
/cypress-visual-screenshots/comparison
/cypress-visual-screenshots/diff

/blob-report/
/test-results/
/playwright/.cache/
/playwright-report/
