node_modules/
dist/
build/
.DS_Store
*.log
/coverage/
/test-report.xml


# For cypress-image-diff-js -plugin
/cypress-visual-report
/cypress-visual-screenshots/comparison
/cypress-visual-screenshots/diff
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
